/*LOGO*/
div#logo {
	position: absolute;
	top: 130px;
	left: 0px;
	width: 500px;
	height: 500px;
	}
	div#logo div#circle {
		position: relative;
		background-color: #302513;
		border: 4px solid #fdffd3;
		
	}
		div#logo > div#circle {
		top: 30px;
		left: 20px;
		width: 200px;
		height: 200px;
		border-radius:200px;
		}
		div#logo > div#circle > div#circle {
			top: -27px;
			left: 100px;
			width: 180px;
			height: 180px;
			border-radius:180px;
			}
			div#logo > div#circle > div#circle > div#circle {
				top: 27px;
				left: 100px;
				width: 162px;
				height: 162px;
				border-radius:162px;
				}
				div#logo > div#circle > div#circle > div#circle > div#circle {
					top: 73px;
					left: 73px;
					width: 146px;
					height: 146px;
					border-radius:146px;
					}
					div#logo > div#circle > div#circle > div#circle > div#circle > div#circle {
						top: 100px;
						left: 27px;
						width: 131px;
						height: 131px;
						border-radius:131px;
						}
						div#logo > div#circle > div#circle > div#circle > div#circle > div#circle > div#circle {
							top: 100px;
							left: -27px;
							width: 118px;
							height: 118px;
							border-radius:118px;
							}
							div#logo > div#circle > div#circle > div#circle > div#circle > div#circle > div#circle > div#circle {
								top: 73px;
								left: -73px;
								width: 106px;
								height: 106px;
								border-radius:106px;
							}
/*END OF LOGO*/


body {
	/*framing*/
	/*
	background:
		url(http://quotidian.info/images/back2mid.png) top left no-repeat;
	*/
	background-color: #fdffd3;
	/*text*/
	color: #000000;
	font-family: arial;
	font-size: 16px;
}

div#themes {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 400;
	text-align: center;	
	width: 200px;
	}
	div#themes > ul {
		padding: none;
	}
	div#themes > ul > li {
		list-style: none;
	}
	div#themes  a {
		padding-left: 10px;
		padding-right: 10px;
		text-decoration: none;
		color: #feffd3;
	}
	div#themes  a:hover {
		padding-left: 10px;
		padding-right: 10px;
		text-decoration: none;
		color: #FFFFFF;
	}


.form {
	/*framing*/
	background: rgba(239, 230, 196, 0.6);
	border:2px solid #302513;
	font-size:18px;
	width: 372px;
	/*text*/
	color: #302513;
	}
	form#messageMe > ul > li {
		padding: 5px;
		list-style: none;
	}


	body > div > div.header {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 150px;
		background-color: #6d5321;
		width: 100%;
		text-align: center;
		padding: 0px;
		}
		div.header > div.links {
			z-index: 400;
			position: fixed;
			top: 0px;
			left: 0px;
			height: 20px;
			background-color: #302513;
			width: 100%;
			text-align: center;
			color: #feffd3;
			padding-top: 9px;
			padding-bottom: 6px;
			}
			div.header > div.links > a {
				padding-left: 10px;
				padding-right: 10px;
				text-decoration: none;
				color: #feffd3;
			}
			div.header > div.links > a:hover {
				padding-left: 10px;
				padding-right: 10px;
				text-decoration: none;
				color: #FFFFFF;
			}
		body > div > div.header > div.image {
			position: relative;
			top: 40px;
			left: 0px;
			height: 130px;
			width: 100%;
			text-align: center;
			font-size: 90px;
			color: #302513;
		}


	body > div > div.body {
		position: relative;
		top: 150px;
		left: 0px;
		width: 100%;
		text-align: center;
		color: #302513;
		padding: 0px;
		padding-bottom: 50px;
		}
		body > div > div.body a {
			color: #6c4607;
			text-decoration: none;
		}
		body > div > div.body a:hover {
			text-decoration: none;
			color: #000000;
		}

	body > div > div.footer {
		position: fixed;
		bottom: 0px;
		left: 0px;
		height: 16px;
		background-color: #302513;
		width: 100%;
		text-align: center;
		color: #feffd3;
		padding-top: 4px;
		padding-bottom: 9px;
	}


div.element {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #efe6c4;
	border: 3px solid #000000;
	width: 90%;
	max-width: 800px;
	}
	div.element > div.header {
		position: relative;
		top: 0px;
		left: 0px;
		height: 20px;
		background-color: #6d5321;
		width: 100%;
		text-align: center;
		color: #feffd3;
		font-weight: bold;
		padding-top: 2px;
		padding-bottom: 2px;
		}
		div.element > div.header a {
			text-decoration: none;
			color: #ccac76;
		}
		div.element > div.header a:hover {
			text-decoration: none;
			color: #fdffd3;
		}
		div.element > div.header > span.title {
			max-width: 360px;
			width: 100%;
			text-align: center;
		}
		div.element > div.header > span.rating {
			margin-right: 25px;
			text-align: right;
			float: right;
			width: 120px;
		}
		div.element > div.header > span.date {
			margin-left: 25px;
			text-align: left;
			float: left;
			width: 120px;
		}
	div.element > div.body {
		position: relative;
		top: 0px;
		left: 0px;
		margin-left:40px;
		margin-right:20px;
		min-height: 40px;
		text-align: left;
		color: #000000;
		padding-top: 15px;
		padding-bottom: 15px;
	}
		
		
		