body {
	/*framing*/
	background:
		url(http://quotidian.info/images/back1mid.png) center center no-repeat,
		url(http://quotidian.info/images/back1bl.png) bottom left no-repeat,
		url(http://quotidian.info/images/back1br.png) bottom right no-repeat;
	background-color: #1D3C2D;
	/*text*/
	font-family: sans-serif;
}


div#themes {
	position: fixed;
	top: 5px;
	right: 5px;
	z-index: 400;
	text-align: center;	
	width: 80px;
	border:2px solid #444A92;
	background: rgba(11, 16, 65, 0.5);
	}
	div#themes > ul {
		padding:0px;
	}
	div#themes > ul > li {
		list-style: none;
		padding-bottom:2px;
		color: #ffffff;
	}
	div#themes  a {
		text-decoration: none;
		color: #9EF79B;
	}
	div#themes  a:hover {
		text-decoration: none;
		color: #65CA62;
	}


.form {
	/*framing*/
	background: rgba(111, 116, 183, 0.6);
	border:2px solid #444A92;
	width: 372px;
	/*text*/
	color: #FFFFFF;
	}
	form#messageMe > ul > li {
		padding: 5px;
		list-style: none;
	}


body > div > div.header,
body > div > div.body,
body > div > div.footer {
	/*framing*/
	margin-left: auto;
	margin-right: auto;
	width: 83%;
	border: 2px solid #444A92;
	/*text*/
	text-align: center;
}


	body > div > div.header > div.image {
		max-width: 750px;
		min-height: 100px;
		margin-left: auto;
		margin-right: auto;
		background-image:url('http://quotidian.info/images/header2.jpg');
	}


	body > div > div.header > div.links {
		/*framing*/
		margin-left: auto;
		margin-right: auto;	
		max-width: 850px;
		border: 2px solid #444A92;
		background: rgba(68, 74, 146, 1);
		/*text*/
		font-size: 16px;
		}
		body > div > div.header > div.links > a {
			/*framing*/
			padding: 2px;
			border: 2px solid #444A92;
			background: rgba(11, 16, 65, 1);
			/*text*/
			text-align: center;
			text-decoration: none;
			color: #9EF79B;
		}
		body > div > div.header > div.links > a:hover {
			color: #65CA62;
		}
		body > div > div.header > div.links > a:visited {
			text-decoration: none;
			color: #CCCCCC;
		}
		body > div > div.header > div.links > a.link1 {
			transform: translate(0px,-5px);
			-ms-transform: translate(0px,-5px);
			-webkit-transform: translate(0px,-5px);
			-o-transform: translate(0px,-5px);
			-moz-transform: translate(0px,-5px);
		}
		body > div > div.header > div.links > a.link2 {
			transform: translate(0px,5px);
			-ms-transform: translate(0px,5px); 
			-webkit-transform: translate(0px,5px);
			-o-transform: translate(0px,5px); 
			-moz-transform: translate(0px,5px); 
		}


body > div > div.body {
	/*framing*/
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 0px;
	padding-right: 0px;
	border-bottom:0px;
	background: rgba(11, 16, 65, 0.5);
	/*text*/
	color: #6F74B7;
	}
	body > div > div.body a {
		/*text*/
		color: #9EF79B;
		text-decoration: none;
	}	
	body > div > div.body a:hover {
		/*text*/
		color: #65CA62;
	}		
	body > div > div.body a:visited {
		/*text*/
		color: #CCCCCC;
	}
	
	
div.element {
	padding-top:10px;
	padding-bottom:10px;
	}
	div.element,
	div.element > div.header,
	div.element > div.body,
	div.element > div.footer {
		/*framing*/
		margin-left: auto;
		margin-right: auto;
		width: 95%;
		/*text*/
		text-align: left;
	}
	div.element > div.header,
	div.element > div.footer {
		/*framing*/
		padding-top:2px;
		padding-bottom:2px;
		padding-left:15px;
		padding-right:15px;
		border:2px solid #444A92;
		background: rgba(68, 74, 146, 0.6);
	}
	div.element > div.header {
		/*framing*/
		min-height:	20px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		/*text*/
		font-weight: bold;
		color: #B9ECAA;
		}
		div.element > div.header > span.title {
			/*framing*/
			float: left;
			margin-left: 10px;
		}
		div.element > div.header > span.rating,
		div.element > div.header > span.date {
			/*framing*/
			float: right;
			margin-right: 10px;
		}
	div.element > div.body {
		/*framing*/
		padding:15px;
		min-height:	20px;
		border-left:2px solid #444A92;
		border-right:2px solid #444A92;
		background: rgba(240, 230, 255, 0.55);
		/*text*/
		color: #000000;
	}
	div.element > div.footer {
		/*framing*/
		min-height:	1px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		/*text*/
		color: #6F74B7;
	}


body > div > div.footer {
	/*framing*/
	background-color: #6F74B7;
	/*text*/
	color: #1E2040;
}