body {
	font-family: sans-serif;
	/*background-color:#9E97E2;*/
	background-color: #1D3C2D;
	text-align:center;
}

div#themes {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 400;
	text-align: center;	
	width: 80px;
	border:2px solid #444A92;
	background-color:#0B1041;
	}
	div#themes ul {
		padding:0px;
	}
	div#themes ul li {
		list-style: none;
		padding-bottom:2px;
		color: #ffffff;
	}
	div#themes  a {
		text-decoration: none;
		color: #9EF79B;
	}
	div#themes  a:hover {
		text-decoration: none;
		color: #65CA62;
	}



.form {
	border:2px solid #444A92;
	background-color: #6F74B7;
	color: #FFFFFF;
	width:372px;
	}
	form#messageMe ul li {
		padding: 5px;
		list-style: none;
	}
	
span#IEMsg {
	margin-left: auto;
	margin-right: auto;
	padding:20px;
	text-align: center;
	color: #FFFFFF;
}




body div div.body {
	text-align:center;
}


body div div.header {
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	background-color:#6F74B7;
	text-align:center;
	color: #1E2040;
	border: 2px solid #444A92;
	min-width:750px;
	min-height:100px;
}
body div div.header a {
	color: #04072E;
	text-decoration: none;
}	
body div div.header a:hover {
	color: #272C6C;
	text-decoration: none;
}		
body div div.header a:visited {
	color: #CCCCCC;
	text-decoration: none;
}

	body div div.header div.image {
		margin-left: auto;
		margin-right: auto;
		background-image:url('http://quotidian.info/images/header2.jpg');
		width:750px;
		height:100px;
	}
	
	body div div.header div.links {
		padding-top: 2px;
		padding-bottom: 2px;
		margin-left: auto;
		margin-right: auto;
	}
	
		body div div.header div.links a {
			border-left: 2px solid #444A92;
			border-right: 2px solid #444A92;
			padding-left: 2px;
			padding-right: 2px;
			margin-left: 0px;
			margin-right: 0px;
		}


body div div.body {
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	background-color:#0B1041;
	text-align:center;
	color: #6F74B7;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	pading-right: 0px;
	border-left: 2px solid #444A92;
	border-right: 2px solid #444A92;
}
body div div.body a {
	color: #9EF79B;
	text-decoration: none;
}	
body div div.body a:hover {
	color: #65CA62;
	text-decoration: none;
}		
body div div.body a:visited {
	color: #CCCCCC;
	text-decoration: none;
}

	div.element {
		margin-left: auto;
		margin-right: auto;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 95%;
	}

		div.element div.header {
			margin-left: auto;
			margin-right: auto;
			width: 100%;
			min-height:	20px;
			background-color: #444A92;
			text-align: center;
			color: #B9ECAA;
			font-weight: bold;
			border:2px solid #444A92;
		}
		div.element div.header span.title {
			/*framing*/
			float: left;
			margin-left: 10px;
		}
		div.element div.header span.rating,
		div.element div.header span.date {
			/*framing*/
			float: right;
			margin-right: 10px;
		}

		div.element div.body {
			margin-left: auto;
			margin-right: auto;
			width: 100%;
			min-height:	20px;
			background-color: #9E97E2;
			text-align: left;
			color: #000000;
			border-left:2px solid #444A92;
			border-right:2px solid #444A92;
			padding-top:1px;
			padding-bottom:1px;
		}
		div.element div.body a {
			color: #9EF79B;
			text-decoration: none;
		}	
		div.element div.body a:hover {
			color: #65CA62;
			text-decoration: none;
		}		
		div.element div.body a:visited {
			color: #6F74B7;
			text-decoration: none;
		}

		div.element div.footer {
			margin-left: auto;
			margin-right: auto;
			width: 100%;
			min-height:	5px;
			background-color: #444A92;
			text-align: left;
			color: #6F74B7;
			border:2px solid #444A92;
		}
		div.element div.footer a {
			color: #9EF79B;
			text-decoration: none;
		}	
		div.element div.footer a:hover {
			color: #65CA62;
			text-decoration: none;
		}		
		div.element div.footer a:visited {
			color: #6F74B7;
			text-decoration: none;
		}


body div div.footer {
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	background-color: #6F74B7;
	text-align: center;
	color: #1E2040;
	border:2px solid #444A92;
}
body div div.footer a {
	color: #9EF79B;
	text-decoration: none;
}	
body div div.footer a:hover {
	color: #272C6C;
	text-decoration: none;
}		
body div div.footer a:visited {
	color: #272C6C;
	text-decoration: none;
}