/*LOGO*/
div#logo {
	z-index: -400;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 500px;
	height: 500px;
	}
	div#logo div#circle {
		position: relative;
		background-color: #021e01;
		border: 4px solid #bfd7aa;
		
	}
		div#logo > div#circle {
		top: 30px;
		left: 20px;
		width: 200px;
		height: 200px;
		border-radius:200px;
		}
		div#logo > div#circle > div#circle {
			top: -27px;
			left: 100px;
			width: 180px;
			height: 180px;
			border-radius:180px;
			}
			div#logo > div#circle > div#circle > div#circle {
				top: 27px;
				left: 100px;
				width: 162px;
				height: 162px;
				border-radius:162px;
				}
				div#logo > div#circle > div#circle > div#circle > div#circle {
					top: 73px;
					left: 73px;
					width: 146px;
					height: 146px;
					border-radius:146px;
					}
					div#logo > div#circle > div#circle > div#circle > div#circle > div#circle {
						top: 100px;
						left: 27px;
						width: 131px;
						height: 131px;
						border-radius:131px;
						}
						div#logo > div#circle > div#circle > div#circle > div#circle > div#circle > div#circle {
							top: 100px;
							left: -27px;
							width: 118px;
							height: 118px;
							border-radius:118px;
							}
							div#logo > div#circle > div#circle > div#circle > div#circle > div#circle > div#circle > div#circle {
								top: 73px;
								left: -73px;
								width: 106px;
								height: 106px;
								border-radius:106px;
							}
/*END OF LOGO*/




body {
	background-color: #021e01;	
	font-family: sans-serif;
	font-size:14px;
}

a {
	color: #ffffff;	
	text-decoration: none;
	padding-left: 2px;
	padding-right: 2px;
}

a:hover {
	color: #bfd7aa;	
	text-decoration: none;
}

.form {
	/*framing*/
	background: #acc397;
	border:2px solid #021e01;
	font-size:18px;
	width: 372px;
	/*text*/
	color: #021e01;
	}
	form#messageMe > ul > li {
		padding: 5px;
		list-style: none;
	}

body > div {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	color: #021e01;
	border: 3px solid #bfd7aa;
	border-radius: 5px;
	background: #67854f;	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67854f', endColorstr='#f8fef3'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#67854f), to(#f8fef3)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #67854f,  #f8fef3); /* for firefox 3.6+ */ 
	}	
	body > div > div.header > div.image {
		font-size: 60px;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 20px;
		margin-left: 60px;
		margin-right: 60px;
		
	}	
	body > div > div.header > div.links {
		background-color:#224606;	
		text-align: center;
		margin-left: 60px;
		margin-right: 60px;
		border-radius: 5px 5px 0px 0px;
	}
	
		
	body > div > div.body {
		margin-left: 60px;
		margin-right: 60px;
		text-align: center;
		background-color: #bfd7aa;
		border: 3px solid #224606;
		border-radius: 0px 0px 5px 5px;
		padding-bottom:20px;
	}
	
	body > div > div.body > a {
		color: #224606;	
		text-decoration: none;
		padding-left: 2px;
		padding-right: 2px;
	}
	
	body > div > div.body > a:hover {
		color: #000000;	
		text-decoration: none;
	}

	div.element > div.header {
		z-index:500;
		background-color:#224606;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#396219', endColorstr='#224606'); /* for IE */
		background: -webkit-gradient(linear, left top, left bottom, from(#396219), to(#224606)); /* for webkit browsers */
		background: -moz-linear-gradient(top,  #396219,  #224606); /* for firefox 3.6+ */ 
		margin-top: 25px;	
		color: #bfd7aa;
		height: 21px;
		}
		div.element > div.header > span.title {
			float: left;
			margin-left: 20px;
			margin-right: 20px;
		}
		div.element > div.header > span.date {
			width: 0px;
			visibility: hidden;
			margin-left: 0px;
			margin-right: 0px;
		}
		div.element > div.header > span.rating {
			float: right;
			margin-left: 20px;
			margin-right: 20px;
			padding-top: 2px;
		}
	
	
	div.element > div.body {
		color: #021e01;
		text-align: left;
		padding: 10px 20px 10px 20px;
	}
	
	div.element > div.footer {
		background-color:#2e550f;	
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#224606', endColorstr='#396219'); /* for IE */
		background: -webkit-gradient(linear, left top, left bottom, from(#224606), to(#396219)); /* for webkit browsers */
		background: -moz-linear-gradient(top,  #224606,  #396219); /* for firefox 3.6+ */ 
		height: 20px;
		margin-bottom: 40px;
	}

	
	
	body > div > div.footer {
		position: relative;
		bottom: 0px;
		left: 0px;
		background-color:#f8fef3;	
		text-align: center;
		padding:0px;
		margin-top:25px;
		color: #021e01;
	}


	









div#themes {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 400;
	text-align: center;	
	width: 110px;
	background: #021e01;
	padding: 0px;
	color: #bfd7aa;
	border: 3px solid #bfd7aa;
	border-radius: 5px;
	}
	div#themes > ul {
		padding: 0px;
	}
	div#themes > ul > li {
		list-style: none;
		padding: 0px;
	}

